@tailwind base;
@tailwind components;
@tailwind utilities;

.text-logo {
  font-size: 2.4rem;
  fontsize: clamp(2.4rem, 2.04rem + 0.97vw, 3.2rem);
}

.text-hero {
  font-size: 4rem;
  font-size: clamp(4rem, 1.6rem + 6.41vw, 8.8rem);
  font-weight: 700;
  letter-spacing: -0.028em;
  line-height: 1.2;
}

.text-default {
  font-size: 1.6rem;
  font-size: clamp(1.6rem, 1.41rem + 0.59vw, 1.8rem);
}

.text-skill {
  font-size: 3.2rem;
  font-size: clamp(3.2rem, 2.28rem + 2.47vw, 4.8rem);
}

.form_control input:focus-visible:invalid ~ .form_icon,
.form_control textarea:focus-visible:invalid ~ .form_icon {
  display: inline-block;
}

@layer utilities {
  .text-sub {
    @apply text-[1.6rem] leading-[1.625] tracking-[0.143em] font-bold uppercase bg-no-repeat text-white bg-clip-text bg-transitionGradient lg:hover:text-transparent bg-default lg:hover:bg-hover transition-all duration-[.3s] ease-linear;
  }

  .wrapper {
    @apply w-[90%] md:w-[92%] max-w-[1124px] mx-auto;
  }

  .transition-on-hover {
    @apply transition-colors ease-in duration-300 motion-reduce:transition-none motion-reduce:hover:transition-none;
  }

  .svg-size {
    @apply w-[19.2px] h-[19.2px];
  }

  .svg-size-md {
    @apply w-[25px] h-[24px];
  }

  .visually-hidden {
    @apply absolute left-[-10000px] top-auto w-[1px] h-[1px] hidden;
  }

  .text-decor {
    @apply underline decoration-2 underline-offset-[10px] decoration-contact;
  }

  .skill-container {
    @apply text-center min-[600px]:text-left;
  }

  .skill-title {
    @apply leading-[1.17] font-bold text-skill mb-[2px];
  }

  .projects-name {
    @apply text-[2.4rem] leading-[1.3] font-bold uppercase mb-[7px];
  }

  .tags {
    @apply uppercase mr-[12px] text-secondary leading-[1.5];
  }
}
